*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;  
 }

body {
    width: 100%;
    min-height: 100vh;        /* asegurar viewport completo */
    overflow-x: hidden;
    overflow-y: auto;         /* permite scroll vertical cuando haga falta */
    background-color: #ffffff;
}

header {
    width: 100%;
    height: auto;
    align-content: space-around;
}

.header-container {
    align-content: space-around;
    width: 100%;
    height: 150px; /* Fixed height for header */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    background-color: #f0f0f0; /* Light background color */
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Space between menu items */
}

.image-container {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden; /* Contains any overflow */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintains aspect ratio */
    display: block; /* Removes bottom spacing */
}

