*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;  
 }

body {
    width: 100%;
    min-height: 100vh;        /* asegurar viewport completo */
    overflow-x: hidden;
    overflow-y: auto;         /* permite scroll vertical cuando haga falta */
    background-color: #ffffff;
}

header {
    position: relative; 
     align-items: center;
    align-content: space-around;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.7em 2.5em;
}

header p {
    font-family: neue-haas-grotesk-display-pro, sans-serif;
    font-style: bold;
    font-weight: 450;
    font-size: 1em;
    
}
