* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "futura", sans-serif;
  background: linear-gradient(135deg, #190202, #ea3333, #bd09b7, #f97316);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  color: white;

}



.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-weight: 700;
}

.brand-name {
  font-size: 1.3rem;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.language-selector {
  font-weight: 600;
}

.submit-button {
  background: linear-gradient(135deg, #8b5cf6, #3b82f6);
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.main-content {
  text-align: center;
  padding-top: 60px;
}

.main-heading {
  font-size: 2rem;
  margin-bottom: 60px;
  font-weight: 700;
}

.image-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.carousel-item {
  position: absolute;
  width: 260px;
  height: 360px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease, opacity 0.4s ease;
}


.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.position-left {
  transform: rotate(-10deg) translateX(-200px);
  opacity: 0.6;
}

.position-center {
  z-index: 2;
}

.position-right {
  transform: rotate(10deg) translateX(200px);
  opacity: 0.6;
}



.continue-button {
  margin-top: 60px;
  background: white;
  color: #111;
  border: none;
  border-radius: 40px;
  padding: 12px 35px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bottom-bar a {
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  margin-right: 15px;
  opacity: 0.9;
}

.continue-button:hover {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  color: white;
}

.bottom-bar {
  text-align: left;
  padding: 20px 50px;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}