@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
}

.top-navigation {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-identity {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 5rem;
}

.action-buttons {
  display: flex;
  gap: 10px;
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;

}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.reach-out {
  background-color: #ff0404;
  color: black;
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  background-color: #ccc5b9;
  color: black;
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

#webgl-canvas {
  width: 100%;
  height: 100vh;
  display: block;
}

.footer-caption {
  position: absolute;
  bottom: 20px;
  font-size: 0.9rem;
  text-align: left;
}

.position-left { 
  left: 20px; 
}

.position-middle { 
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center; 
}

.position-right { 
  right: 20px; 
  text-align: right; 
}

.label {
  background: orange;
  padding: 5px 10px;
  border-radius: 50%;
}