html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#lienzo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#cambiarcolor {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #c9d6c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10; /* 👈 asegura que esté arriba del canvas */
}